# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want normalized to native line endings.
*.java text
*.ps1 text
*.sh text
*.bat text
*.properties text
*.xml text
*.md text
*.puml text

# Mark binary files so Git doesn't modify them.
#*.png binary
#*.jpg binary
